.dashboard {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    color: white;
}

.orb.small {
    width: 140px;
    height: 140px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

.study-summary {
    text-align: center;
    opacity: 0.8;
}

.card {
    background: rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.focus-panel {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.timer-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

button {
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}
.timer-container {
    position: relative;
    width: 160px;
    height: 160px;
}

.timer-container svg {
    position: absolute;
    top: 0;
    left: 0;
}

#timerText {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}
/* Menu button */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 26px;
    cursor: pointer;
    color: white;
    z-index: 1000;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: rgba(10, 20, 60, 0.95);
    padding-top: 80px;
    transition: 0.3s;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.1);
}

/* open sidebar */
.sidebar.open {
    left: 0;
}
